body {

  background: #ABA;
  width: 600px;
  margin: 20px auto;
}

h1 {
  font-size: 120px;
  text-align: center;
  margin-top: 50px;
  font-family: helvetica, sans-serif;
  letter-spacing: -8;
  color: black;
  text-transform: lowercase;
  text-shadow: 2px 3px 5px white;
}

h2 {

  font: 100px;
  text-align: left;
  margin-top: 50 px;
  font-family: helvetica, sans-serif;
  letter-spacing: -2;
  color: black;
  text-transform: lowercase;
  text-shadow: 1px 0px -1px white;

}

svg{

  display: block;
  margin: auto;
}

#map {

  min-width: 500px;
  width: 70%;
  height: 400px;
  margin: auto;
  margin-top: 100px;
  margin-top: 100px;

}

.bar{
  fill: #A00;
}

.bar:hover{
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.author{

  margin: 10px 20px 20px 20px;
  clear: both;

}

.authorImage{

  float: left;

}

.authorDescription{

  float: right;
  width: 425px;
  height: 150px;
  font-family: helvetica, sans-serif;

}
